<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Поиск людей</title>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>

</head>
<body>

<!-- Header -->

<header id="hero" class="hero overlay">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                {#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
                {#                        data-target="#navbar-collapse" aria-expanded="false">#}
                {#                    <span class="sr-only">Toggle navigation</span>#}
                {#                    <span class="fa fa-bars"></span>#}
                {#                </button>#}
                <a href="/index.html" class="brand">
                    <img src="{% static 'images/logo.png' %}" alt="Knowledge">
                </a>
            </div>
            {#            <div class="navbar-collapse collapse" id="navbar-collapse">#}
            {#                <ul class="nav navbar-nav navbar-right">#}
            {#                    <li>#}
            {#                        <a href="/">#}
            {#                            Home#}
            {#                        </a>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a href="archive.html">#}
            {#                            Archive#}
            {#                        </a>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a href="browse.html">#}
            {#                            Browse#}
            {#                        </a>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a href="login.html">#}
            {#                            Login#}
            {#                        </a>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a href="register.html" class="btn btn-success nav-btn">Sign Up</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </nav>
    {% csrf_token %}
    <div class="masthead text-center">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Добровольческий поисково-спасательный отряд «ЛизаАлерт»</h1>
                    <p class="lead ">Поиск пропавших людей</p>
                    <form>
                        <input type="text" id="text" class="search-field" placeholder="Поиск ... "/>
                        <p class="lead ">Поиск по тегам</p>
                        <select id="tags" class="js-example-basic-multiple search-field"
                                name="states" multiple="multiple">
                            {% for tag in tags %}
                                <optgroup label="{{ tag.name }}">
                                    {% for value in tag.values.all %}
                                        <option value="{{ tag.id }}_{{ value.value }}">{{ tag.name }}
                                            - {{ value.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>

                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <p class="lead ">Получить теги по фото</p>

                    <form action="/file-upload"
                          class="dropzone"
                          id="my-awesome-dropzone" style="border-radius: 16px"></form>

                    <a id="btn-find" class="btn btn-hero"> Искать<span
                            class="icon-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Features -->

<section id="features" class="features bgc-light-gray">
    <div class="container ">
        <div id="result" class="row features-section">

        </div>
    </div>
</section>


<!-- Topics -->
<section class="topics">
    <div class="container">
        <div class="row">

        </div>

    </div>
</section>


<!-- Support Section -->

<section class="support-section text-white section ">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>


<!-- Call To Action -->

<footer>
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>

<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/dropzone.min.js' %}"></script>

<script>
    $(document).ready(function () {

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone(".dropzone", {
            autoProcessQueue: false,
            parallelUploads: 1,
            paramName: "find_img",
            maxFiles: 1,
            addRemoveLinks: true,
            acceptedFiles: "image/*",
            url: "upload_file",
            success: function (file, response) {
                for (let i = 0; i < response.images.length; i++) {
                    $("#result").append(`<div class="text-center col-sm-4 cards">
                                            <div class="card">
                                                <img class="card-img" src="${response.images[i]}"
                                                     alt="Card image">
                                            </div>
                                        </div>`)
                }
            }
        });
        myDropzone.on("addedfile", function (file) {
            $("#tags").val(null);
            $("#tags").attr("disabled", "desabled");
            $('#text').val("");
            $('#text').attr("disabled", "desabled");
        });
        myDropzone.on("sending", function (file, xhr, formData) {
            formData.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
        });
        myDropzone.on("removedfile", function (file) {
            $("#tags").removeAttr("disabled");
            $('#text').removeAttr("disabled");
        })
        {#myDropzone.on("success", function (file, response) {#}
        {#    console.log(response);#}
        {# })#}


        $('.js-example-basic-multiple').select2();
        var data = {"csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val()}
        $("#btn-find").click(function () {
            $('.cards').remove();
            if (myDropzone.files.length === 1) {
                myDropzone.processQueue();
                return;
            }
            var tags = $('#tags').val();
            console.log(tags);
            var text = $('#text').val();
            if (tags == null && text !== "") {
                data["text"] = text;
                $.ajax({
                    url: "find_text",
                    method: "post",
                    data: data,
                    success: function (data) {
                        for (let i = 0; i < data.images.length; i++) {
                            $("#result").append(`<div class="text-center col-sm-4 cards">
                                            <div class="card">
                                                <img class="card-img" src="${data.images[i]}"
                                                     alt="Card image">
                                            </div>
                                        </div>`)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } else if (tags != null && text === "") {
                data["tags"] = tags;
                $.ajax({
                    url: "find_tags",
                    method: "post",
                    data: data,
                    success: function (data) {
                        for (let i = 0; i < data.images.length; i++) {
                            $("#result").append(`<div class="text-center col-sm-4 cards">
                                            <div class="card">
                                                <img class="card-img" src="${data.images[i]}"
                                                     alt="Card image">
                                            </div>
                                        </div>`)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } else if (tags != null && text !== "") {
                data["text"] = text;
                data["tags"] = tags;
                $.ajax({
                    url: "find_all",
                    method: "post",
                    data: data,
                    success: function (data) {
                        for (let i = 0; i < data.images.length; i++) {
                            $("#result").append(`<div class="text-center col-sm-4 cards">
                                            <div class="card">
                                                <img class="card-img" src="${data.images[i]}"
                                                     alt="Card image">
                                            </div>
                                        </div>`)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        })
    });
</script>
</body>
</html>
